body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main-app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-body {
  background-image: linear-gradient(141deg, #1577c6 0%, #3273dc 71%, #4366e5 100%);
  flex: 1;
}

header, footer {
  background-image: linear-gradient(141deg, #1f1919 0%, #363636 71%, #463f3f 100%);
  color: #ffffff;
  flex: 0;
}

footer {
  padding: 1em 0;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.aligner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.nav-item a, a.nav-item, h1.title, h2.title {
  color: #ffffff;
}
